<ion-header>
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card *ngFor = "let quiz of Questions">
      <ion-card-header>
        <ion-card-title>
            {{quiz.Counter}}. {{quiz.Question}}
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-radio-group (onChange) = "setData($event)">
            <ion-item>
              <ion-label>{{quiz.Answer[0]}}</ion-label>
              <ion-radio slot="start" value="{{quiz.Answer[0]}}"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>{{quiz.Answer[1]}}</ion-label>
              <ion-radio slot="start" value="{{quiz.Answer[1]}}"></ion-radio>
            </ion-item>
            
            <ion-item>
              <ion-label>{{quiz.Answer[2]}}</ion-label>
              <ion-radio slot="start" value="{{quiz.Answer[2]}}"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>{{quiz.Answer[3]}}</ion-label>
              <ion-radio slot="start" value="{{quiz.Answer[3]}}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
      <p style = "text-align: center;">
        <ion-button size = "small" shape = "round" fill="outline">
          Next</ion-button>
      </p>
    </ion-card>
  </div>
</ion-content>
