ion-header {
}

ion-toolbar {
    --background: #323d44;
    border-bottom: 0px;
}

ion-toolbar ion-title {
    --color: white;
}
/*--background: #9bc4d8;*/
ion-content {
    --background: #323d44;
}

ion-tab-bar {
    --background: #323d44;
    border-top: 0px;
}
