<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar>
  <ion-title>
    Home
  </ion-title>
</ion-toolbar>

<ion-content>
  <div>
    <p style = "text-align: center;">
      <ion-button size = "small" shape = "round" fill="outline" [routerLink] = "['/categories']">
        Categories
      </ion-button>
    </p>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">

  <ion-tab-button tab="arrow-back">
    <ion-icon name="arrow-back" color = "primary"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="home">
    <ion-icon name="home" color = "primary"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="about">
    <ion-icon name="information-circle" color = "primary"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>