<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style = "text-align: center;">
    <ion-list>
      <ion-item>
        <ion-input required placeholder = "Name" [(ngModel)] = "name">
          <ion-icon name="person" style = "width:20px;height:20px;"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input required placeholder = "Surname" [(ngModel)] = "surname">
          <ion-icon name="person" style = "width:20px;height:20px;"></ion-icon>
       </ion-input>
      </ion-item>

      <ion-item>
        <ion-input required placeholder = "Email" [(ngModel)] = "email">
          <ion-icon name="mail" style = "width:20px;height:20px;"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input required placeholder = "Password" [(ngModel)] = "password">
          <ion-icon name="lock" style = "width:20px;height:20px;"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input required placeholder = "Confirm Password" [(ngModel)] = "confirm_password">
          <ion-icon name="lock" style = "width:20px;height:20px;"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-list>

    <p>
      <ion-button size = "small" shape = "round" fill="outline" (click) = "registerUser()">Register</ion-button>
    </p>

    <p>
      <ion-button size = "small" shape = "round" fill="outline" [routerLink] = "['/log-in']">Log In</ion-button>
    </p>
  </div>
</ion-content>
